javascript:
  
  var $container = $('.isotype').isotope({
    // main isotope options
      itemSelector: '.isotype-item',
      masonry: {
        gutter: 30
      }
  });
  
  $container.isotope('layout');

  $container.imagesLoaded(function() {
    $container.isotope('layout')
  });

  function interval() {
    $( "#load" ).fadeIn(800).fadeOut(800);
  };

  $(".isotype").infinitescroll({
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: ".infinite-items",
    prefill: true,
    dataType: "json",
    loading: {
      start: function(options) {
        $(this).data('infinitescroll').beginAjax(options);
      },
      finished: function() {
      }
    },
    appendCallback: false,
    errorCallback: function(errorType) {
      if (errorType == "done") { 
        //clearInterval(res);

        $("<div class='row'><div class='col-md-alert-head alert alert-warning bottom-alert' id='bottom-msg' role='alert'> No more posts, click to <a class='alert-link' id='bottom-alert' onClick='return false;'> back to top</a></div></div>").insertAfter("#iso-layout");
        
        $("#bottom-alert").click(function(){
            $('html, body').animate({
              scrollTop: 0,
              }, 1500
            );
        });
      }
    }
  }, function(newElements, opts){
    var res = setInterval(interval(), 8);

    var items = "";

    for (var i = 0, len = newElements.length; i < len; i++) {
      var newItem = genElement(newElements[i]);
      items += newItem;
    }

    var $container = $('.isotype').isotope({
    // main isotope options
      itemSelector: '.isotype-item',
      masonry: {
        gutter: 30
      }
    });

    $container.append($(items));
    $('.new-item').css({ opacity: 0 });

    $('.comment_area').blur();

    $container.imagesLoaded(function() {
      //$container.isotope('layout');
      $container.isotope("appended", $('.new-item'));
      $('.new-item').removeClass('new-item');
      clearInterval(res);
    });
  });