javascript:

  var $container = $('.isotype').isotope({
    // main isotope options
    itemSelector: '.isotype-item'
  });

  $('nav.pagination').hide();

  $('.comment-submit').hide();
  // when comment box focused, show button and re-render layout.
  $('.comment_area').focus(function(){
    $('.comment-submit').filter(":visible").hide();
    $(this).next().show();
    $container.isotope('layout');
  });

  $('#url, #srch-term').focus(function(){
    $('.comment-submit').hide();
    $container.isotope('layout');
  });

  $(".isotype").infinitescroll({
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: ".infinite-items",
    prefill: true,
    loading: {
      start: function(options) {
      // Do something here.
        //$("#iso-layout").css({  "display": "block",   opacity: 0.7, "width":$(document).width(),"height":$(document).height()});
        $('#load').fadeIn("fast");

        $(this).data('infinitescroll').beginAjax(options)
      },
      finished: function() {
      // Do something here.
        //$("#iso-layout").css({  "display": "block",   opacity: 1, "width":$(document).width(),"height":$(document).height()});
        $('#load').fadeOut("fast");
      }
    },
    errorCallback: function(errorType) {
      if (errorType == "done") { 
        //$("#iso-layout").css({  "display": "block",   opacity: 1, "width":$(document).width(),"height":$(document).height()});
        $('#load').fadeOut("fast");
        //$(document).scroll("#bottom-msg");

        $("<div class='row col-md-alert alert alert-warning bottom-alert' id='bottom-msg' role='alert'> No more posts, click to <a href='#main' class='alert-link' id='bottom-alert'> back to top</a></div>").insertAfter("#iso-layout");
        
        $("#bottom-alert").click(function(){
            $('html body').animate({
              scrollTop: 0,
              }, 1500
            );
        });
      }
    }
  }, function(newElements){
    var $newElems = $(newElements);
    $newElems.css({ opacity: 0 });

    //$('#url').focus();
    // leave current focus
    $('.comment_area').blur();
    $('.comment-submit').hide();
    //$container.isotope('layout');
    
    $container.imagesLoaded(function() {
      //$('#main').css({ opacity: 0;});
      $newElems.animate({ opacity: 1 });
      //$container.isotope('layout');
      $container.isotope('appended', $newElems);
      $container.isotope('layout');
    });

    $('.comment_area').focus(function(){
      $('.comment-submit').filter(":visible").hide();
      $(this).next().show();
      $container.isotope('layout');
    });
  });
