javascript:

  var $container = $('.isotype').isotope({
    // main isotope options
    itemSelector: '.isotype-item'
  });

  $('nav.pagination').hide();

  $('.comment-submit').hide();
  // when comment box focused, show button and re-render layout.
  $('.comment_area').focus(function(){
    $('.comment-submit').filter(":visible").hide();
    $(this).next().show();
    $container.isotope('layout');
  });

  $('#url, #srch-term').focus(function(){
    $('.comment-submit').hide();
    $container.isotope('layout');
  });

  $(".isotype").infinitescroll({
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: ".infinite-items" 
  }, function(newElements){
    var $newElems = $(newElements);

    //$('#url').focus();
    // leave current focus
    $('.comment_area').blur();
    $('.comment-submit').hide();
    $container.isotope('appended', $newElems);
    $container.isotope('layout');

    $('.comment_area').focus(function(){
      $('.comment-submit').filter(":visible").hide();
      $(this).next().show();
      $container.isotope('layout');
    });
  });
