/!
/!javascript:
/!
/!  var $new_items = "h(render @posts)";
/!  
/!  var $container = $('.isotype').isotope({
/!    // main isotope options
/!    itemSelector: '.isotype-item'
/!  });
/!
/!  $container.append($new_items).isotope('appended', $new_items);


  