.favicon, .pink-30x30, .u40, .u70, .u100{
	background: url(sprites.png) no-repeat;
}

.favicon{
	background-position: -92px -24px ;
	width: 16px;
	height: 16px;
}

.pink-30x30{
	background-position: -35px -87px ;
	width: 30px;
	height: 30px;
}

.u40{
	background-position: -87px -67px ;
	width: 40px;
	height: 40px;
}

.u70{
	background-position: -8px -6px ;
	width: 70px;
	height: 70px;
}

.u100{
	background-position: -140px -21px ;
	width: 100px;
	height: 100px;
}

